body{

margin:0;

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

font-family:Arial;

background:#f4f4f4;

}

h1{

margin-bottom:60px;

font-size:48px;

}

button{

padding:35px 80px;

font-size:32px;

cursor:pointer;

border:none;

border-radius:12px;

background:#4285F4;

color:white;

}

button:hover{

background:#2f6ddb;

}
